.forest-detail {
    text-align: center;
    height: 100vh;
    background: #2e7d32;
    color: white;
  
    .detailed-forest-svg {
      width: 100%;
      height: 80%;
    }
  
    h1 {
      margin-bottom: 20px;
    }
  }
  