<header id="header">
    <a href="#" class="logo">Monolitos en México</a>
    <ul>
      <li><a href="#" class="active">Inicio</a></li>
      <li><a href="#sec">Acerca</a></li>
      <li><a href="#footer">Contacto</a></li>
    </ul>
  </header>
  
  <!-- Top Section (Above Water) -->
  <section>
    <img src="assets/images/land/sky.png" id="sky" class="wallpaper" alt="sky background">
    <img src="assets/images/land/sun.png" id="sun" alt="sun">
    <img src="assets/images/land/mountains.png" id="mountains" class="wallpaper" alt="mountains">
    <img src="assets/images/land/cloud.png" id="cloud" alt="cloud">
    <h2 id="text"><span>"Explora como nunca antes"</span><br />Monolitos en México</h2>
    <img src="assets/images/land/forest.png" id="forest" alt="forest">
    <img src="assets/images/land/cloud.png" id="bird1" alt="bird 1">
    <img src="assets/images/land/cloud.png" id="bird2" alt="bird 2">
    <a href="#sec" id="explore">Explorar</a>
    <img src="assets/images/land/rocks.png" id="rocks" alt="rocks">
    <!-- <img src="assets/images/land/splash.png" id="splash" alt="splash">
    <img src="assets/images/land/water.png" id="water" alt="water"> -->
  </section>

  <section class="sec" id="sec">
    <google-map height="700px" width="1000px" [options]="options" (polygonClick)="onPolygonClick()">
      <map-polygon [paths]="polygonCoords" [options]="polygonOptions"></map-polygon>
      <map-marker *ngFor="let marker of markers" 
        [position]="marker.position" 
        [title]="marker.title" 
        [icon]="marker.icon"
        (mapClick)="onMarkerClick(marker.title)">
      </map-marker>
    </google-map>
  </section>
  
  <!-- Middle Section (Below Water) with Content -->
  <div class="sec" id="sec">
    <!-- <img src="assets\images\decorations\leaf1.webp" id="sea1" class="undersea" alt="sea element"> -->
    <img src="assets\images\decorations\rock1.webp" id="sea2" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf2.webp" id="sea3" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf3.webp" id="sea4" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf4.webp" id="sea5" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf4.webp" id="sea6" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf2.webp" id="sea7" class="undersea" alt="sea element">
    <img src="assets\images\decorations\rock1.webp" id="sea8" class="undersea" alt="sea element">
  
    <h2>Insertar aqui un tituloooo</h2>
    <div id="name">Desarrollado por --INSERTAR INSTITUTOS PARTICIPANTES--</div>
  
    <div class="glass">
      <h3>¿Cuál es el objetivo de este proyecto?</h3>
      <p>
        Insertar aqui un parrafo explicando
      </p>
    </div>
  
    <div class="glass">
      <h3>Beneficios</h3>
      <ul>
        <p>Listar razones:</p>
        <li>
          <h4>Titulo Beneficio 1</h4>
          <p>
            Explicacion de Beneficio
          </p>
        </li>
        <li>
            <h4>Titulo Beneficio 2</h4>
            <p>
              Explicacion de Beneficio
            </p>
          </li>
      </ul>
    </div>
  
    <div class="glass">
      <h3>Algo mas que se quiera listar:</h3>
      <ul>
        <li>
            <h4>Titulo Beneficio 1</h4>
            <p>
              Explicacion de Beneficio
            </p>
          </li>
          <li>
            <h4>Titulo Beneficio 1</h4>
            <p>
              Explicacion de Beneficio
            </p>
          </li>
          <li>
            <h4>Titulo Beneficio 1</h4>
            <p>
              Explicacion de Beneficio
            </p>
          </li>
      </ul>
    </div>
  
    <!-- Fish and Seabed
    <img src="assets\images\decorations\rock1.webp" id="fish1" class="fishes" alt="fish">
    <img src="assets/images/sea/fish2.png" id="fish2" class="fishes" alt="fish">
    <img src="assets/images/sea/fish3.png" id="fish3" class="fishes" alt="fish">
    <img src="assets/images/sea/fish4.png" id="fish4" class="fishes" alt="fish">
    <img src="assets/images/sea/oceanbed.png" id="seabed" class="fishes" alt="ocean bed"> -->
  
    <!-- Bubbles Animation -->
    <div class="bubbles">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
    </div>
  </div>
  
  <!-- Footer -->
  <div class="footer" id="footer">
   
    <span>Desarrollado por: --INSERTAR INSTITUCIONES-- ❤️</span>
  </div>
  
  <!-- Scroll to Top Button -->
  <a id="top" href="#">
    <i class="fas fa-arrow-up"></i>
  </a>