<header id="header">
  <a href="#" class="logo">Museo Nacional de Suelos</a>
  <ul>
    <li><a href="#" class="active">Inicio</a></li>
    <li><a href="#sec">Acerca</a></li>
    <li><a href="#footer">Contacto</a></li>
  </ul>

</header>

<!-- Top Section (Above Water) -->
<section>
  <img src="assets/images/land/sky.png" id="sky" class="wallpaper" alt="sky background">
  <!-- <img src="assets/images/land/sun.png" id="sun" alt="sun"> -->
  <img src="assets/images/land/mountains.png" id="mountains" class="wallpaper" alt="mountains">
  <img src="assets/images/land/cloud.png" id="cloud" alt="cloud">
  <h2 id="text"><span>Explora interactivamente</span><br />Museo de Suelos</h2>
  <img src="assets/images/land/forest.png" id="forest" alt="forest">
  <img src="assets/images/land/cloud.png" id="bird1" alt="bird 1">
  <img src="assets/images/land/cloud.png" id="bird2" alt="bird 2">
  <a href="#sec" id="explore">Explorar</a>
  <img src="assets/images/land/rocks.png" id="rocks" alt="rocks">
  <!-- <img src="assets/images/land/splash.png" id="splash" alt="splash">
    <img src="assets/images/land/water.png" id="water" alt="water"> -->
</section>

<!-- Middle Section (Below AR Gallery) with Content -->
<div class="sec" id="sec">
  <!-- <img src="assets\images\decorations\leaf1.webp" id="sea1" class="undersea" alt="sea element"> -->
  <img src="assets\images\decorations\rock1.webp" id="sea2" class="undersea" alt="sea element">
  <img src="assets\images\decorations\leaf2.webp" id="sea3" class="undersea" alt="sea element">
  <img src="assets\images\decorations\leaf3.webp" id="sea4" class="undersea" alt="sea element">
  <img src="assets\images\decorations\leaf4.webp" id="sea5" class="undersea" alt="sea element">
  <img src="assets\images\decorations\leaf4.webp" id="sea6" class="undersea" alt="sea element">
  <img src="assets\images\decorations\leaf2.webp" id="sea7" class="undersea" alt="sea element">
  <img src="assets\images\decorations\rock1.webp" id="sea8" class="undersea" alt="sea element">

  <!-- REEMPLAZA TU CONTENIDO INFORMATIVO CON ESTO -->
  <h2>- Bienvenidos -</h2>
  <p>Al Museo Nacional de Suelos en México 🇲🇽</p>

  <div class="reveal">
    <div class="slides">
      <section class="glass">
        <h3>¿Qué es un monolito? (1/3)</h3>
        <p style="font-size: 0.8em;">
          El término “Monolito” hace alusión a un suelo endurecido por un proceso artificial para preservarlo en sus
          condiciones naturales y debe tener las siguientes características: estar constituido de una sola pieza,
          ser representativo de un área geográfica u homogénea y alejado de las vías de comunicación en al menos 50
          metros.
        </p>
      </section>

      <section class="glass">
        <h3>¿Qué es un monolito? (2/3)</h3>
        <p style="font-size: 0.8em;">
          Un monolito de suelo es una porción o muestra vertical extraída de un perfil edafológico, que muestra las
          diferentes capas u horizontes y marca sus posiciones dentro del perfil.
        </p>
      </section>

      <section class="glass">
        <h3>¿Qué es un monolito? (3/3)</h3>
        <p style="font-size: 0.8em;">
          Representa al suelo en su condición natural inalterada que muestra el desarrollo y los procesos edafogenéticos
          que pueden presentarse en cualquier paisaje o ecosistema. Son considerados elementos de valor visual y
          artístico que funcionan como herramientas didácticas.
        </p>
      </section>

      <section class="glass">
        <h3>¿Qué información proporciona?</h3>
        <p>La información que proporciona un monolito del suelo sirve para conocer:</p>
        <ul>
          <li class="fragment">Sus características morfológicas</li>
          <li class="fragment">Sus propiedades físicas, químicas y mineralógicas</li>
          <li class="fragment">Los procesos que ocurren en su interior</li>
          <li class="fragment">Su clasificación científica</li>
        </ul>
      </section>

      <section class="glass">
        <h3>Es útil para:</h3>
        <ul>
          <li class="fragment">Toma de decisiones en el manejo, restauración o conservación.</li>
          <li class="fragment">Material didáctico para la enseñanza de la Ciencia del Suelo.</li>
          <li class="fragment">Mostrar la diversidad edáfica del país.</li>
        </ul>
      </section>

    </div>
  </div>
  <!-- FIN DEL BLOQUE DE REEMPLAZO -->

  <div class="sec2" id="sec">
    <h2>Galería de Monolitos</h2>
    <div class="ag-format-container">
      <div class="ag-courses_box">

        <!-- ATENCO EDOMEX -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
             Atenco EdoMex
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/AT_mesa.glb"
              ios-src="assets/ar/AT_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Cacaloxtepec -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
             Cacaloxtepec
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/Cacaloxtepec_mesa.glb"
              ios-src="assets/ar/Cacaloxtepec_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Calimaya -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
             Calimaya
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/Calimaya_mesa.glb"
              ios-src="assets/ar/Calimaya_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Coactepec -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
             Coactepec
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/Coactepec_mesa.glb"
              ios-src="assets/ar/Coactepec_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Ixtapan del Oro -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Ixtapan del Oro
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/IX_mesa.glb"
              ios-src="assets/ar/IX_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- La Joya -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              La Joya
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/LJ_mesa.glb"
              ios-src="assets/ar/LJ_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- La Poza -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              La Poza
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/LP_mesa.glb"
              ios-src="assets/ar/LP_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Montecillo -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Montecillo
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/MON_mesa.glb"
              ios-src="assets/ar/MON_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- San Antonio -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              San Antonio Solís
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/SA_mesa.glb"
              ios-src="assets/ar/SA_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Solonetz -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Solonetz EdoMex
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/Solonetz_mesa.glb"
              ios-src="assets/ar/Solonetz_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Temascalcingo -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Temascalcingo
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/Temascalcingo_mesa.glb"
              ios-src="assets/ar/Temascalcingo_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

        <!-- Tenango -->

        <div class="ag-courses_item">
          <a class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>

            <div class="ag-courses-item_title">
              Tenango
            </div>
            <!-- <div>
             Pequeña descripcion de localizacion o modelo, etc
            </div> -->
            <br>
            <div class="ag-courses-item_date-box">
              Monolito en
              <span class="ag-courses-item_date">
                Realidad Aumentada
              </span>
            </div>
            <model-viewer alt="Modelo 3D del Monolito La Poza" src="assets/ar/Tenango_mesa.glb"
              ios-src="assets/ar/Tenango_mesa.usdz" ar ar-modes="webxr scene-viewer quick-look" camera-controls auto-rotate
              poster="assets/images/cubo.png" shadow-intensity="1">
              <button slot="ar-button" class="ar-button">
                Ver en tu espacio
              </button>
            </model-viewer>
          </a>
        </div>

      </div>
    </div>
  </div>

  <!-- Middle Section (Below AR Gallery) with Content -->
  <div class="sec" id="sec">
    <!-- <img src="assets\images\decorations\leaf1.webp" id="sea1" class="undersea" alt="sea element"> -->
    <img src="assets\images\decorations\rock1.webp" id="sea2" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf2.webp" id="sea3" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf3.webp" id="sea4" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf4.webp" id="sea5" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf4.webp" id="sea6" class="undersea" alt="sea element">
    <img src="assets\images\decorations\leaf2.webp" id="sea7" class="undersea" alt="sea element">
    <img src="assets\images\decorations\rock1.webp" id="sea8" class="undersea" alt="sea element">

    <h2>Historia del Museo</h2>
    <div id="name">El Museo Nacional de Suelos se inauguró el 4 de diciembre de 2020, con el objetivo de concientizar al
      público acerca de la importancia de la conservación y diversidad de suelos en nuestro país, así como el uso y
      manejo que se les debe dar de acuerdo con sus propiedades y características.
      La técnica de elaboración de monolitos fue traída a México por el Dr. Carlos Alberto Ortiz Solorio, y a partir de
      1984 se implementó en el programa de Edafología, en el Colegio de Postgraduados, Campus Montecillo.
      Actualmente, el Museo alberga poco más de 40 ejemplares y otros son resguardados por otras instituciones con las
      que se ha colaborado.
    </div>

    <div class="glass">
      <h3>Misión</h3>
      <p>
        Adquirir, preservar y exhibir ejemplares de perfiles de suelos de distintas regiones del país, con la finalidad
        de divulgar y concientizar al público en general sobre la importancia natural, ambiental y cultural del recurso
        suelo.
      </p>
    </div>

    <div class="glass">
      <h3>Visión</h3>
      <p>
        Ser un espacio abierto al público que se adapte a los nuevos tiempos, transformando su espacio y actividades
        para fomentar la toma de decisiones en el ámbito científico, agrícola y ambiental, desde un enfoque sostenible.
      </p>
    </div>

    <br>
    <h3>Colaboradores</h3>

    <div class="glass">
      <h3>Colegio de Postgraduados, Universidad Autónoma de Chapingo</h3>
      <ul>
        <li>
          M.C. Patricio Sánchez Guzmán
        </li>
        <li>
          Dra. Sandra Monserrat Barragán Maravilla
        </li>
        <li>
          Dr. Gabriel Alejandro Hernández Vallecillo
        </li>
      </ul>
    </div>

    <div class="glass">
      <h3>FEZ Itzacala - UNAM</h3>
      <ul>
        <li>
           Dr. Fernando Ayala Niño
        </li>
      </ul>
    </div>

    <div class="glass">
      <h3>FEZ Itzacala - UNAM</h3>
      <ul>
        <li>
           Dr. Fernando Ayala Niño
        </li>
      </ul>
    </div>

    <div class="glass">
      <h3>Instuto Politécnico Nacional - UPIIH</h3>
      <ul>
        <li>
           Dra. Macaria Hernández Chávez
        </li>
        <li>
          Dr. Diego Adrián Fabila Bustos
        </li>
        <li>
          Ing. Eduardo Ignacio Castellón Castillo
        </li>
        <li>
          Ing. Juan Francisco Escudero Villegas
        </li>
        <li>
          Ing. Abdiel Ambriz Hernández
        </li>
      </ul>
    </div>

    <div class="glass">
      <h3>Ubicación</h3>
      <p>
        Colegio de Postgraduados, Campus Montecillo.
        <br>
        Carretera México-Texcoco Km. 36.5, Montecillo, Texcoco, México, C.P. 56230.

      </p>
    </div>

    <div class="map-responsive">
      <iframe title="Mapa: Colegio de Posgraduados" id="gmap_canvas"
        src="https://www.google.com/maps?hl=es&q=Carretera%20Federal%20M%C3%A9xico-Texcoco%20Km.%2036.5%20Montecillo,%2056264%20Texcoco%20de%20Mora,%20M%C3%A9x.&z=12&output=embed"
        loading="lazy" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
    </div>

    <br>
    <h2>Galería de Imágenes</h2>
    <br>

    <div class="video-responsive">
      <iframe title="Video explicativo de los Monolitos" src="https://www.youtube.com/embed/xhsPZKm32V4" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen loading="lazy"></iframe>
    </div>

    <div class="glass">

      <app-portfolio></app-portfolio>
    </div>

    <div class="glass">
      <h3>Contacto</h3>
      <p>
        ¡Si deseas visitar el Museo de manera presencial, comunícate con nosotros!
        <br>
        museodesuelo.colpos&#64;gmail.com
      </p>
    </div>

    <!-- Fish and Seabed
    <img src="assets\images\decorations\rock1.webp" id="fish1" class="fishes" alt="fish">
    <img src="assets/images/sea/fish2.png" id="fish2" class="fishes" alt="fish">
    <img src="assets/images/sea/fish3.png" id="fish3" class="fishes" alt="fish">
    <img src="assets/images/sea/fish4.png" id="fish4" class="fishes" alt="fish">
    <img src="assets/images/sea/oceanbed.png" id="seabed" class="fishes" alt="ocean bed"> -->

    <!-- Bubbles Animation -->
    <div class="bubbles">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
      <img src="assets\images\decorations\leaf1.webp" alt="bubble">
    </div>
  </div>

  <!-- Scroll to Top Button -->
  <a id="top" href="#">
    <i class="fas fa-arrow-up"></i>
  </a>